.type-1117 .see-demo .manipulation a {
  display: flex;
  justify-content: center;
  align-items: center; }

.type-1117 .see-demo .page-other .link_img div::after, .type-1117 .see-demo .page-other .link_img div::before {
  content: "";
  width: 214px;
  position: absolute;
  height: 100%;
  left: 0;
  transition: all 0.2s ease; }

@media (max-width: 550px) {
  .type-1117 {
    display: none; } }
.type-1117 .backgroud-see {
  width: 100%;
  height: 100%;
  top: 0; }
.type-1117 .see-demo {
  width: 500px;
  height: 100%;
  background: #fff;
  top: 0;
  z-index: 999;
  right: -502px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease; }
  .type-1117 .see-demo .page-other {
    background: #fff;
    overflow-y: scroll;
    height: 100%; }
    .type-1117 .see-demo .page-other .link_img {
      width: 225px;
      height: 171px; }
      .type-1117 .see-demo .page-other .link_img div::after {
        background: #000;
        opacity: 0.2; }
      .type-1117 .see-demo .page-other .link_img div::before {
        opacity: 0;
        border: 2px solid #1ebac8;
        z-index: 1; }
    .type-1117 .see-demo .page-other .link_img:hover div::after {
      opacity: 0;
      transition: all 0.2s ease; }
    .type-1117 .see-demo .page-other .link_img:hover div::before {
      opacity: 1;
      transition: all 0.2s ease; }
    .type-1117 .see-demo .page-other .select-link {
      padding: 25px 0px 0 22px; }
      .type-1117 .see-demo .page-other .select-link .box-title span {
        font-size: 14px;
        opacity: 0.5;
        font-weight: 500; }
      .type-1117 .see-demo .page-other .select-link .box-title span::after {
        content: "";
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 328px;
        height: 2px;
        background: #eaeaea;
        left: 112px; }
  .type-1117 .see-demo .manipulation {
    background: #fff;
    top: 100px;
    left: -50px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25); }
    .type-1117 .see-demo .manipulation a {
      height: 50px;
      width: 50px;
      cursor: pointer; }
      .type-1117 .see-demo .manipulation a img {
        transition: all 0.2s ease;
        opacity: 0.7;
        width: 28px;
        height: 28px; }
        .type-1117 .see-demo .manipulation a:hover img {
          opacity: 1;
          width: 32px;
          height: 32px;
          transition: all 0.2s ease; }
    .type-1117 .see-demo .manipulation__open::before {
      content: "";
      position: absolute;
      left: 9px;
      bottom: 0px;
      width: 32px;
      height: 1px;
      background: #eaeaea; }
.type-1117 .show-demo {
  right: 0;
  transition: all 0.5s ease; }
